.date-picker .text-field {
-fx-font-size: 20;
}
.combo-box-popup .list-view .list-cell {
-fx-font-size: 20;
}
.combo-box .list-view {
-fx-font-size: 20;
}
.combo-box .text-field {
-fx-font-size: 20;
}
.combo-box .text-input .list-cell {
-fx-font-size: 20;
}
.combo-box .text-input {
-fx-font-size: 20;
}
.combo-box .list-cell {
-fx-font-size: 20;
}
.text-field {
-fx-font-size: 20;
}
.list-view .list-cell{
-fx-font-size: 20;
}
.table-view{
-fx-font-size: 20;
}
.table-view .table-cell{
  -fx-alignment: CENTER;
}


